<!DOCTYPE html>
<html>

<head>
  <title>
    <%= namePage %>
  </title>
</head>

<body>
  <%= description %>

  <a href="/registroVisitas">Registrar visitantes</a>
  <a href="/history">Historial de visitantes</a>
  <a href="/history">Pendientes de salida</a>


</body>

</html>