<!DOCTYPE html>
<html>

<head>
  <title>
    <%= namePage %>
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <a href="/registroInternos">Pasantes</a>
    <a href="/registroVisitas">Registros</a>
    <% if (user && (user.type==='superUsuario' )) { %>
      <a href="/historial">Historial de visitantes</a>
      <% } %>
        <a href="/registrosPendientes">Pendientes de salida</a>
        <% if (user && (user.type==='superUsuario' )) { %>
          <a href="/registroUsuario">Registrar Usuario</a>
          <% } %>
            <% if (user && (user.type==='superUsuario' || user.type==='administrador' )) { %>
              <a href="/AdmistrarUsuario">Control de usuarios</a>
              <% } %>
  </header>

  <div class="container">

    <div class="tarjeta">
      <div class="titulo">Pasantes</div>
      <div class="cuerpo">
        <img src="img/programador.png" alt="muestra">
      </div>
      <div class="pie">
        <a href="#">Acceder</a>
      </div>
    </div>

    <div class="tarjeta">
      <div class="titulo">Registros</div>
      <div class="cuerpo">
        <img src="img/tiempo.png" alt="muestra">
      </div>
      <div class="pie">
        <a href="/registroVisitas">Acceder</a>
      </div>
    </div>

    <div class="tarjeta">
      <div class="titulo">Historial</div>
      <div class="cuerpo">
        <img src="img/historial.png" alt="muestra">
      </div>
      <div class="pie">
        <a href="/historial">Acceder</a>
      </div>
    </div>

    <div class="tarjeta">
      <div class="titulo">Historiales pendientes </div>
      <div class="cuerpo">
        <img src="img/archivo.png" alt="muestra">
      </div>
      <div class="pie">
        <a href="/registrosPendientes">Acceder</a>
      </div>
    </div>

    <div class="tarjeta">
      <div class="titulo">Recursos Humanos </div>
      <div class="cuerpo">
        <img src="img/RH.png" alt="muestra">
      </div>
      <div class="pie">
        <a href="/hr-visits">Acceder</a>
      </div>
    </div>
  </div>

</body>

</html>

</body>

</html>