<!DOCTYPE html>
<html>

<head>
  <title>
    <%= nombrePagina %>
  </title>
</head>

<body>
  <%= descripcion %>

  <a href="/registroVisitas">Registrar visitantes</a>
  <a href="/history">Historial de visitantes</a>

</body>

</html>