<!DOCTYPE html>
<html>

<head>
  <title>
    <%= namePage %>
  </title>
</head>

<body>
  <%= description %>

    <a href="/registroVisitas">Registrar visitantes</a>
    <% if (user && (user.type==='superUsuario' || user.type==='administrador' )) { %>
      <a href="/historial">Historial de visitantes</a>
      <% } %>
        <a href="/registrosPendientes">Pendientes de salida</a>
        <a href="/registroInternos">Registrar internos</a>

</body>

</html>

</body>

</html>