<!DOCTYPE html>
<html>

<head>
  <title>
    <%= namePage %>
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>

    <h1 class="header-title">¡Bienvenido a</h1>
    <h2 class="header-subtitle">Radio y Televisión de Hidalgo!</h2>
    <a href="/logout">Cerrar sesión</a>

  </header>

  <div class="container">

    <div class="tarjeta">
      <div class="titulo">Pasantes</div>
      <div class="cuerpo">
        <img src="img/programador.png" alt="muestra">
      </div>
      <div class="pie">
        <a href="/registroInternos">Acceder</a>
      </div>
    </div>

    <div class="tarjeta">
      <div class="titulo">Registros</div>
      <div class="cuerpo">
        <img src="img/tiempo.png" alt="muestra">
      </div>
      <div class="pie">
        <a href="/registroVisitas">Acceder</a>
      </div>
    </div>
    <% if (user && (user.type==='superUsuario' || user.type==='administrador' )) { %>
      <div class="tarjeta">
        <div class="titulo">Historial</div>
        <div class="cuerpo">
          <img src="img/historial.png" alt="muestra">
        </div>
        <div class="pie">
          <a href="/historial">Acceder</a>
        </div>
      </div>
      <% } %>

        <div class="tarjeta">
          <div class="titulo">Historiales pendientes </div>
          <div class="cuerpo">
            <img src="img/archivo.png" alt="muestra">
          </div>
          <div class="pie">
            <a href="/registrosPendientes">Acceder</a>
          </div>
        </div>
        <% if (user && (user.type==='superUsuario' || user.type==='administrador' )) { %>
          <div class="tarjeta">
            <div class="titulo">Recursos Humanos </div>
            <div class="cuerpo">
              <img src="img/RH.png" alt="muestra">
            </div>
            <div class="pie">
              <a href="/hr-visits">Acceder</a>
            </div>
          </div>
          <div class="pie">
            <a href="">Acceder</a>
          </div>
        </div>

        <div class="tarjeta">
          <div class="titulo">Control de usuarios </div>
          <div class="cuerpo">
            <img src="img/seguridad.png" alt="muestra">
          </div>
          <div class="pie">
            <a href="">Acceder</a>
          </div>
        </div>
      
        <div class="tarjeta">
          <div class="titulo">Historiales  de los pasantes </div>
          <div class="cuerpo">
            <img src="img/archivo.png" alt="muestra">
          </div>
          <div class="pie">
            <a href="/historyInterns">Acceder</a>
          </div>
        </div>
        </div>


  </div>

</body>

</html>

</body>

</html>