<!DOCTYPE html>
<html>

<head>
    <title>
        <%= namePage %>
    </title>
    <!-- CSS y estilos de Bootstrap -->
    <link rel="stylesheet" href="/css/styleinterns.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Estilos para ocultar los botones de incremento y decremento en campos de número -->
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
</head>

<body style="font-family: 'Poppins', sans-serif;">
    <!-- Contenido del encabezado -->
    <div class="fondo"></div>
    <div id="var">
        <div>
            <img src="/img/radioytvlogo.png" alt="">
        </div>
        <h1>
            <%= description %>
        </h1>
        <div class="enlaces">
            <a href="/registroInternos">Pasantes</a>
            <% if (user && user.type !=='rh' ) { %>
                <a href="/registroVisitas">Registros</a>
                <a href="/historial">Historial de visitantes</a>
                <a href="/registrosPendientes">Pendientes de Salida</a>
                <a href="/registroUsuario">Registrar Usuario</a>
                <a href="/AdmistrarUsuario">Control de Usuarios</a>
                <a href="/hr-visits">Recursos Humanos</a>
                <a href="/historialInternos">Historial de pasante</a>
                <a href="/controlPasantes">Control de Pasantes</a>
                <% } %>
        </div>
        <div class="menu-hamburguesa bg-primary">
            <div class="hamburguesa-icono"></div>
        </div>
        <a href="/inicio">
            <svg class="home" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100"
                viewBox="0 0 64 64">
                <path
                    d="M 32 3 L 1 28 L 1.4921875 28.654297 C 2.8591875 30.477297 5.4694688 30.791703 7.2304688 29.345703 L 32 9 L 56.769531 29.345703 C 58.530531 30.791703 61.140812 30.477297 62.507812 28.654297 L 63 28 L 54 20.742188 L 54 8 L 45 8 L 45 13.484375 L 32 3 z M 32 13 L 8 32 L 8 56 L 56 56 L 56 35 L 32 13 z M 26 34 L 38 34 L 38 52 L 26 52 L 26 34 z">
                </path>
            </svg>
        </a>
    </div>
    <!-- Contenedor principal -->
    <div class="container">
        <div class="cont-title">
            <h1>Visitas</h1>
        </div>
        <!-- Contenedor del formulario -->
        <div class="container-form">
            <form action="/registroInternos" method="POST" enctype="multipart/form-data"
                onsubmit="return validateForm()">
                <div class="form-inputs">
                    <div class="form-p">
                        <label for="fileNumber">Ingresa tu folio</label>
                        <input class="form-control" type="text" name="fileNumber" id="fileNumber" placeholder="Folio"
                            required>
                        <label for="service">Ingresa el tipo de servicio prestado</label>
                        <select class="form-control" name="service" id="service" required>
                            <option selected disabled>-- Seleccione un servicio --</option>
                            <option value="dual">Dual</option>
                            <option value="estadia">Estadia</option>
                            <option value="estancia">Estancia</option>
                            <option value="practicas">Practicas</option>
                            <option value="residencia">Residencia</option>
                            <option value="servicio social">Servicio Social</option>
                        </select>
                        <label for="name">Ingresa tu nombre</label>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Nombre" required>
                        <label for="school">Ingresa tu escuela</label>
                        <input class="form-control" type="text" name="school" id="school" placeholder="Escuela"
                            required>
                        <label for="Mat">N° control</label>
                        <input class="form-control" type="text" name="Mat" id="Mat" placeholder="N° control" required>
                        <label for="career">Carrera</label>
                        <input class="form-control" type="text" name="career" id="career" placeholder="Carrera"
                            required>
                    </div>
                    <div class="form-p">
                        <label for="adviser">Asesor</label>
                        <input class="form-control" type="text" name="adviser" id="adviser" placeholder="Asesor"
                            required>
                        <label for="numberHours">N° Horas</label>
                        <input class="form-control" type="number" name="numberHours" id="numberHours"
                            placeholder="N° Horas" required>
                        <label for="days">Días (Horario)</label>
                        <select class="form-control" name="days" id="days" required>
                            <option selected disabled>-- Seleccione un día --</option>
                            <option value="Lunes">Lunes</option>
                            <option value="Martes">Martes</option>
                            <option value="Miércoles">Miércoles</option>
                            <option value="Jueves">Jueves</option>
                            <option value="Viernes">Viernes</option>
                        </select>
                        <label for="shedule">Horario</label>
                        <select class="form-control" name="shedule" id="shedule" required>
                            <option selected disabled>-- Seleccione un horario --</option>
                            <option value="09:00-16:00">09:00-16:00</option>
                            <option value="10:00-17:00">10:00-17:00</option>
                            <option value="11:00-18:00">11:00-18:00</option>
                            <option value="12:00-19:00">12:00-19:00</option>
                        </select>
                        <label for="hoursxDay">Horas por día</label>
                        <input class="form-control" type="number" name="hoursxDay" id="hoursxDay"
                            placeholder="Horas por día" required>
                        <label for="asignementDirec">Asig. Dirección</label>
                        <input class="form-control" type="text" name="asignementDirec" id="asignementDirec"
                            placeholder="Asig. Dirección" required>
                    </div>
                    <div class="form-p">
                        <label for="startService">Inicio de servicio</label>
                        <input class="form-control" type="date" name="startService" id="startService"
                            placeholder="Inicio de servicio" required>
                        <label for="endService">Fin de servicio</label>
                        <input class="form-control" type="date" name="endService" id="endService"
                            placeholder="Fin de servicio" required>
                        <label for="totHours">Total de horas</label>
                        <input class="form-control" type="number" name="totHours" id="totHours"
                            placeholder="Total de horas" required>
                    </div>
                </div>
                <label for="Program">Programa</label>
                <input class="form-control" type="text" name="Program" id="Program" placeholder="Programa">
                <label for="Observations">Observaciones</label>
                <textarea class="form-control" name="Observations" id="Observations"
                    placeholder="Observaciones"></textarea>
                <label for="img">Sube una imagen</label>
                <input class="form-control" type="file" name="img" id="img">
                <button class="form-control btn-primary" type="submit">Registrar</button>
            </form>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+dOF7fCuM2b7eA2eM3Qog1ylHf1Kn4KrYlE5Cw5LGpCwJtw"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>

</html>