<!DOCTYPE html>
<html>

<head>
  <title>
    <%= namePage %>
  </title>
</head>

<body>
  <form action="/inicio" method="post">
    <input type="text" onkeyup="this.value = this.value.toUpperCase();" name="name" placeholder="Nombre de usuario">
    <input type="password" name="password" placeholder="Contraseña">
    <button>Ingresar</button>
  </form>

  <% if (errors.length> 0) { %>
    <ul>
      <% errors.forEach(error=> { %>
        <li>
          <%= error.msg %>
        </li>
        <% }) %>
    </ul>
    <% } %>
</body>

</html>