<!DOCTYPE html>
<html>

<head>
  <title>
    <%= nombrePagina %>
  </title>
</head>

<body>
  <form action="" method="post">
    <input type="text" name="name" id="" placeholder="Nombre de usuario">
    <input type="text" name="password" placeholder="Contraseña">
    <button>Ingresar</button>
  </form>
</body>

</html>