<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/stylenewVisit.css">
</head>
<body>
    <div id="fondo"></div>
    <%- include('templates/nav') %>
<br>
<h1></h1>
<br>
    <div class="container-2">
        <div class="table-responsive table-responsive-scroll">
            <table id="tabla" class="fade-in table ">
              <thead class="thead-gray">
                <!-- Encabezado de la tabla -->
                    <tr>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Correo electrónico</th>
                        <th>CURP</th>
                        <th>Identificación</th>
                        <th>Origen</th>
                        <th>Niños</th>
                        <th>Número de pase</th>
                        <th>Fecha de entrada</th>
                        <th>Fecha de salida</th>
                    </tr>
                </thead>
                <!-- Cuerpo de la tabla con datos dinámicos -->
                <tbody>
                    <% registros.forEach(function(item) { %>
                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                            <td>
                            
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>




    <div>
        <footer>
          <%- include('templates/footer') %>
        </footer>
      </div>


      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>