<!DOCTYPE html>
<html>

<head>
    <title>
        <%= nombrePagina %>
    </title>
</head>

<body>
    <%= descripcion %>

        <form action="/registros" method="post">
            <input type="text" name="name" placeholder="Nombre">
            <input type="text" name="phone" placeholder="Telefono">
            <input type="text" name="email" placeholder="Correo electronico">
            <input type="text" name="CURP" placeholder="Curp">
            <select>
                <option selected disabled>-- Seleccione una opcion --</option>
                <option>INE</option>
                <option>Pasaporte</option>
                <option>Licencia</option>
            </select>
            <input type="text" name="department" placeholder="Departamento">
            <input type="text" name="origin" placeholder="Procedencia">
            <input type="text" name="children" placeholder="Cuantos niños">
            <input type="text" name="badge" placeholder="inserte el numero de gafete">
            <input type="submit" value="Registrar visitante">

            <script>
                document.querySelector('input[name="Curp"]').addEventListener('input', function (e) {
                    if (e.target.value.length !== 18) {
                        e.target.setCustomValidity('El campo Curp debe tener exactamente 18 caracteres.');
                    } else {
                        e.target.setCustomValidity('');
                    }
                });
            </script>
        </form>
</body>

</html>