#var {
  background: #1e3740;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#var img {
  width: 150px;
  height: 150px;
  margin: 5px;
}

#var h1 {
  color: white;
  font-size: 30px;
}
#var a {
  color: white;
  text-decoration: none;
  position: relative;
}

#var a:hover {
  color: white;
}

#var a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: transparent;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: background-color 0.3s;
}

#var a:hover::after {
  background-color: #9931f1;
}
