body {
    background-color: #f8f9fa;
    overflow-x: hidden; /* Para evitar que la imagen se desborde horizontalmente */
    margin: 0;
    padding: 0;
  }

  .login-container {
    position: fixed;
    z-index: 1;
    width: 400px; /* Ancho ajustado */
    right: 50px; /* Alineado a la derecha */
    top: 50%;
    transform: translateY(-50%);
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Cambio de opacidad para mejorar la legibilidad */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Aumento de la sombra para un aspecto más elegante */
    border: 20px solid #FAB518; /* Contorno amarillo */
  }

  .login-container h2 {
    margin-bottom: 30px; /* Aumento del espacio entre el título y el formulario */
    text-align: center;
    color: #333; /* Cambio del color del texto del título */
  }

  .form-group {
    margin-bottom: 20px; /* Incremento del espacio entre los elementos del formulario */
  }

  .form-control {
    border-radius: 25px; /* Redondeo de los bordes de los campos de entrada */
  }

  .btn-primary {
    border-radius: 25px; /* Redondeo de los bordes del botón */
  }

  .btn-primary:hover {
    background-color: #0069d9; /* Cambio del color de fondo al pasar el mouse por encima */
  }

  .custom-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%; /* Ancho ajustado */
    height: 100%;
    background-image: url('https://images.pexels.com/photos/16638839/pexels-photo-16638839/free-photo-of-punto-de-referencia-tarde-viaje-torre.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.1); /* Color negro transparente */
    border-radius: 5px;
  }

  .card {
    position: absolute;
    top: 50%;
    left: 0; /* Alineación a la izquierda */
    transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, 0.7); /* Color negro transparente */
    color: white; /* Texto blanco */
    font-weight: 300; /* Fuente ligera */
    font-size: 36px; /* Tamaño de fuente grande */
    padding: 40px;
    border-radius: 10px;
  }