
  
  th {
    background: #E8E8E8;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #var {
    background: #32396c;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/fachada1.jpg') no-repeat center center/cover;
    filter: blur(8px);
    z-index: -1;
  }
  .home {
    fill: #900C3F;
    transition: fill 0.3s ease;
}

a:hover .home {
    fill: #4fa3fc;
    width: 60px;
    height: auto;
}
  #var img {
    width: 150px;
    height: 150px;
    margin: 5px;
  }
  #var h1{
    color: white;
    font-size: 25px;
  
  }
  #var a {
    color: white;
    text-decoration: none;
    position: relative;
  }
  
  #var a:hover {
    color: white;
  }
  
  #var a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: background-color 0.3s;
  }
  
  #var a:hover::after {
    background-color: #9931f1;
  }
  .enlaces {
    display: flex;
  }
  
  .enlaces a {
    margin-right: 20px;
  }
  .menu-hamburguesa {
    display: none;
  }
    .cont-title{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 700px;
      margin: 0 auto;
      color: white;
    }
  
  tr {
    background: white;
  }
  
  th {
    text-align: center;
  }
  

  
  #tabla {
     
    border-spacing: 0; 
    border-radius: 20px;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
     
  }
  
  #tabla thead th:first-child {
    border-top-left-radius: 20px; 
  }
  
  #tabla thead th:last-child {
    border-top-right-radius: 20px;
  }
  
  #tabla tbody tr:last-child td:first-child {
    border-bottom-left-radius: 20px; 
  }
  
  #tabla tbody tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
  }
  
  td,
  th {
    padding: 15px; 
    text-align: center;
  }
  
  h1 {
    color: white;
    font-size: 25px;
  }
  
  .enlaces {
    display: flex;
  }
  
  .enlaces a {
    margin-right: 20px;
  }
  
  body {
    background-color: gray;
  }

#buscador {
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto;
}
