body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-image: url('https://angelking.neocities.org/styles/RPH.jpg');
  background-size: cover; /* Hace que la imagen de fondo cubra todo el área del cuerpo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}


header {
  background-color: #32396C; /* Color del encabezado */
  padding: 35px;
  text-align: center;
  position: relative; /* Agregar posición relativa */
  background-image: url('https://angelking.neocities.org/styles/RTH.jpg'); /* Agregar imagen en el encabezado */
  background-size: contain; /* Ajustar tamaño de la imagen */
  background-repeat: no-repeat; /* Evitar repetición de la imagen */
  background-position: left; /* Posicionar imagen a la izquierda */
}

.header a {
  color:#fff
}


.container {
  max-width: 50%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.tarjeta{
  width: 30%; /* Ajuste del ancho para que haya tres tarjetas por fila */
  margin-bottom: 20px; /* Espacio entre tarjetas */
  background-color: #ebebeb; /* Fondo blanco para las tarjetas */
  border-radius: 15px;
  overflow: hidden; /* Evita que las imágenes se salgan de las tarjetas */

}

.tarjeta:hover {
  transform: translateY(-15px); /* Levanta ligeramente la tarjeta al pasar el cursor */
  box-shadow: 0px 8px 16px rgba(2, 2, 2, 2.2); /* Sombra más pronunciada */
}

.titulo{
  font-size: 24px;
  padding: 10px;
  color: black;
  text-align: center;
}

.cuerpo img {
  width: 70%; /* La imagen ocupa todo el ancho de su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.cuerpo img:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen al pasar el cursor */
}

.pie{
  background: #6699ff;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}

.pie a{
  text-decoration: none;
  color: white;
}
