@keyframes fadeIn {
  from {
    opacity: 0; /* Remueve la opacidad */
    transform: translateY(20px);  /* Añade la transformación de opacidad en 20 pixeles */
  }
  to {
    opacity: 1; /* Agrega la opacidad en 1 */
    transform: translateY(0); /* Remueve la transformación en Y */
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out; /* Define una animación que comienza lentamente durante .5 segundos */
}

body {
  background-color: gray; /* Agrega un fondo gris */
  display: flex;  /* Establece una visualización flexible en el cuerpo del sitio */
  flex-direction: column; /* Establece una dirección en columna */
  min-height: 100vh;  /* Define la altura minima de 80 de viewport height */
}
.fondo{
  position: fixed;  /* Mantiene una posición de la imagen de fondo en estatico */
  top: 0; /* Remover la posición superior */
  left: 0;  /* Remover la posición izquierda */
  width: 100%;  /* Proporciona el ancho de 100% */
  height: 100%; /* Proporciona la altura de 100% */
  background: url('/img/fachada1.webp') no-repeat center center/cover;  /* Agrega una imagen para el fondo, que no se repita y se centre */
  filter: blur(8px);  /* Agrega un filtro de desenfoque de 8 pixeles a la imagen de fondo */
  z-index: -1;  /* Indica el valor de -1 de posicionamiento de la imagen */
}
.container {
  display: flex;  /* Establece una visualización flexible en el contenedor */
  justify-content: center;  /* Distribuye el contenido entre y alrededor del contenedor */
  align-items: center;  /* Controla la alineación de forma central el contenedor */
  flex-direction: column; /* Coloca el contenedor en columna */
  margin-right: auto; /* Asigna un valor automatico de margen derecho */
  margin-left: auto;  /* Asigna un valor automatico de margen izquierdo */
  width: 100%;  /* Proporciona el ancho de 100% */
}
.container-2{
  min-height:70vh;/*importante*/ /* Define la altura minima de 70 */
  position:relative;  /* mantiene el footer abajo */
}
/* Contenedor del titulo */
.cont-title {
  display: flex;  /* Establece una visualización flexible en el contenedor del titulo */
  flex-direction: row;  /* Coloca el contenedor del formulario en fila */
  justify-content: center; /* Distribuye el contenido entre y alrededor del contenedor del titulo */
  width: 100%;  /* Proporciona el ancho de 100% */
  margin-top: 10px; /* Añade un margen superior de 10 pixeles */
}

.cont-title div {
  margin-right: 50px; /* Ajustar un margen en la parte derecha de 50 pixeles */
}

/* Titulo del formulario */
.container h1 {
  color: white; /* Asignar color blanco al texto */
  font-size: 50px; /* Ajuste de tamaño de fuente */
}

.search-container{
  display: flex;  /* Establece una visualización flexible al seleccionar los inputs */
  align-items: center; /* Alineación de elementos en centro */
  width: 100%; /* Agregar un ancho de 100% */
  max-width: 700px; /* Establece un ancho maximo de 700 pixeles */
  margin: 50px auto;  /* Agregar un margen automatico de 50 pixeles */
  border-radius: 25px;  /* Establece el redondeo del borde a 25 pixeles */
  overflow: hidden; /* ocultar el contenido que sale del contenedor */
  border: 1px solid #ccc; /* Agrega un borde de 1 pixel solido y color blanco */
}
.search-container input[type="text"] {
  width: 100%;  /* Ajustar el ancho al 100% */
  padding: 10px;  /* Añade un espacio de 10 pixeles */
  border: 1px solid #ccc; /* Asegura el mismo borde que el botón */
  border-right: none; /* Quita el borde derecho */
  border-radius: 4px 0 0 4px; /* Establece el redondeo del borde a 4x0x0x4 pixeles */
  outline: none;  /* Remueve el contorno del input */
}

.search-container button {
  padding: 10px; /* Añade un espacio de 10 pixeles */
  border: 1px solid #ccc; /* Asegura el mismo borde que el input */
  border-left: none; /* Quita el borde izquierdo */
  background-color: white;  /* Añade color de fondo blanco */
  color: #000; /* Asegura que el texto sea visible */
  border-radius: 0 4px 4px 0; /* Agrega un borde de radio */
  cursor: pointer; /* Transforma el cursor del mouse en una mano señalando el boton que se va a seleccionar */
}

.search-container button:hover {
  background-color: #f0f0f0; /* Agrega color de fondo blanco */
}

i {
  color: #000;  /* Añade color de texto en negro en la cursiva */
}

#searchType {
  background: white;  /* Agrega color de fondo blanco */
}

table {
  border-spacing: 0;  /* Remover el espaciado del borde */
  border-radius: 20px;  /* Añade un borde de radio a la tabla de 20 pixeles*/
  width: 100%;  /* Proporciona el ancho al 100% */
  table-layout: fixed;  /* Establece las filas, celdas y columnas de una tabla */
  word-wrap: break-word;  /* Evita que el texto no se sobresalga de un contenedor o de la pagina */
}

thead {
  background: #E8E8E8; /* Agrega un fondo blanco suave */
  font-family: Arial, Helvetica, sans-serif; /* Define la fuente de letra en arial, helvetica y sans-serif */
}

thead th {
  padding: 15px;  /* Agrega un espacio de 15 pixeles */
  font-size: 15px;  /* Especifica el tamaño 15 de la letra */
  background: #E8E8E8; /*Añade un fondo blanco suave */
}

tbody tr {
  background: white;  /* Añade un fondo blanco */
}

tbody td {
  padding: 10px; /* Agrega un espacio de 10 pixeles */
  border-left: 0.5px solid #777777; /* Color suave */
  border-right: 0.5px solid #777777; /* Color suave */
  border-top: 0.5px solid #777777; /* Borde horizontal suave */
  border-bottom: 0.5px solid #777777; /* Borde horizontal suave */
  text-align: center; /* Alineación en centro al texto */
}

#tabla thead th:first-child {
  border-top-left-radius: 20px; /* Agrega un borde de radio superior izquierda */
}

#tabla thead th:last-child {
  border-top-right-radius: 20px;  /* Agrega un borde de radio superior derecha */
}

#tabla tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px;  /* Agrega un borde de radio inferior izquierda */
}

#tabla tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px; /* Agrega un borde de radio inferior derecha */
}

#content-wrapper {
  flex: 1;  /* Añade un espacio flexible */
}

footer {
  background-color: #E8E8E8;  /* Añade un fondo blanco suave */
  color: black; /* Asigna color negro al texto en el footer */
  text-align: center; /* Alineación en centro al texto */
  padding: 10px 0;  /* Añadir espacio en el footer de 10x0 pixeles */
  width: 100%;  /* Proporciona el ancho de 100% */
  margin-top: auto; /* Agrega un margen superior automatico */
}
.navbar {
  background-color: #1e3740;  /* Asignar color de fondo cian oscuro */
}
.navbar-brand img {
  height: 60px; /* Proporciona la altura de 60 pixeles */
  width: auto; /* Proporciona el ancho automatico */
}
.navbar-nav .nav-item .nav-link {
  color: white; /* Agrega color blanco al texto */
}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1); /* Agrega un color gris al borde */
}
.navbar-toggler-icon {
  color: white; /* Agrega color blanco al texto */
}
@media (max-width: 850px) {
  .table-responsive-scroll {
    overflow-x: auto; /* Agrega una barra de desplazamiento en el eje x de forma automatica */
    white-space: nowrap;  /* Maneja el espacio en blanco a la tabla de forma responsiva */
  }
  table {
  table-layout: auto; /* establece de forma automatica las celdas, filas y columnas de la tabla */
  }
 }
/* Estilo para el placeholder */
.search-container input[type="text"]::placeholder {
  color: black; /* Agrega color negro al texto para los placeholders */
}
