body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-image: url('https://angelking.neocities.org/styles/RPH.jpg');
  background-size: cover; /* Hace que la imagen de fondo cubra todo el área del cuerpo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}


header {
  background-color: #32396C; /* Color del encabezado */
  padding: 10px;
  text-align: center;
  position: relative; /* Agregar posición relativa */
  border-radius: 0% 0% 50% 50%; /* Bordes redondeados en la parte inferior */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra */

}

.header-title {
  font-size: 36px; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
  color: #FAB518; /* Color del texto */
  margin-bottom: 10px; /* Espacio inferior */
}

.header-subtitle {
  font-size: 24px; /* Tamaño del texto */
  font-style: italic;
  color: #c2c4d4; /* Color del texto */
}


.header-title, .header-subtitle {
  opacity: 0; /* Inicialmente oculto */
  animation: fadeInAnimation 1.9s ease forwards; /* Animación de desvanecimiento */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0; /* Comienza completamente transparente */
  }
  to {
    opacity: 1; /* Termina completamente visible */
  }
}

.container {
  max-width: 55%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.tarjeta{
  width: 30%; /* Ajuste del ancho para que haya tres tarjetas por fila */
  margin-bottom: 20px; /* Espacio entre tarjetas */
  background-color: #FADC98; /* Fondo blanco para las tarjetas */
  border-radius: 15px;
  overflow: hidden; /* Evita que las imágenes se salgan de las tarjetas */

}

.tarjeta:hover {
  transform: translateY(-15px); /* Levanta ligeramente la tarjeta al pasar el cursor */
  box-shadow: 0px 8px 16px rgba(2, 2, 2, 2.2); /* Sombra más pronunciada */
}

.titulo{
  font-size: 24px;
  padding: 10px;
  color: black;
  text-align: center;
}

.cuerpo img {
  width: 70%; /* La imagen ocupa todo el ancho de su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.cuerpo img:hover {
  transform: scale(0.9); /* Aumenta ligeramente el tamaño de la imagen al pasar el cursor */
}

.pie{
  background: #5078c8;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}

.pie a{
  text-decoration: none;
  color: white;
}
