@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

body {
  background-color: gray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.fondo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/fachada1.jpg') no-repeat center center/cover;
  filter: blur(8px);
  z-index: -1;
}
#var {
  background: #32396c;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home {
  fill: #900C3F;
  transition: fill 0.3s ease;
}

a:hover .home {
  fill: #4fa3fc;
  width: 110px;
  height: auto;
}
#var img {
  width: 150px;
  height: 150px;
  margin: 5px;
}
#var h1{
  color: white;
  font-size: 27px;
margin: 1.5%;  

}
h1{
  position: relative;
}
#var a {
  color: white;
  text-decoration:double;
  position: relative;
}
svg{
  position: relative;
}
#var a:hover {
  color: white;
}

#var a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: transparent;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: background-color 0.3s;
}

#var a:hover::after {
  background-color: #b377e4;
}
.enlaces {
  display: flex;
}

.enlaces a {
  
  margin-right: 0.5%;
  margin-bottom: 10px; 
  text-align: center;
}
.menu-hamburguesa {
  display: none;
}
  .cont-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
    color: white;
  }

.search-container{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: 50px auto;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #ccc;
}
.search-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Asegura el mismo borde que el botón */
  border-right: none; /* Quita el borde derecho */
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-container button {
  padding: 10px;
  border: 1px solid #ccc; /* Asegura el mismo borde que el input */
  border-left: none; /* Quita el borde izquierdo */
  background-color: white;
  color: #000; /* Asegura que el texto sea visible */
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #f0f0f0;
}

i {
  color: #000;
}

#searchType {
  background: white;
}

table {
  border-spacing: 0;
  border-radius: 20px;
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}

thead {
  background: #E8E8E8;
  font-family: Arial, Helvetica, sans-serif;
}

thead th {
  padding: 15px;
  font-size: 15px;
  background: #E8E8E8;
}

tbody tr {
  background: white;
}

tbody td {
  padding: 10px;
  border-left: 0.5px solid #777777; /* Color suave */
  border-right: 0.5px solid #777777; /* Color suave */
  border-top: 0.5px solid #777777; /* Borde horizontal suave */
  border-bottom: 0.5px solid #777777; /* Borde horizontal suave */
  text-align: center;
}

#tabla thead th:first-child {
  border-top-left-radius: 20px;
}

#tabla thead th:last-child {
  border-top-right-radius: 20px;
}

#tabla tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

#tabla tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

#content-wrapper {
  flex: 1;
}

footer {
  background-color: #E8E8E8;
  color: black;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto;
}
