/* Define el estado inicial de la animación */
@keyframes fadeIn {
  from {
    opacity: 0; /* Opacidad inicial */
    transform: translateY(20px); /* Desplazamiento vertical inicial */
  }
  to {
    opacity: 1; /* Opacidad final */
    transform: translateY(0); /* Desplazamiento vertical final */
  }
}

/* Aplica la animación fadeIn a elementos con la clase .fade-in */
.fade-in {
  animation: fadeIn 0.5s ease-in-out; /* Nombre de la animación, duración y modo de aceleración */
}

/* Estilos para el cuerpo de la página */
body {
  background-color: gray; /* Fondo gris */
  display: flex; /* Utiliza el modelo de caja flexible */
  flex-direction: column; /* Dirección de apilamiento vertical */
  min-height: 100vh; /* Altura mínima del viewport */
}

/* Estilos para el fondo */
.fondo {
  position: fixed; /* Fija la posición */
  top: 0; /* Desde la parte superior */
  left: 0; /* Desde el borde izquierdo */
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  background: url('/img/fachada1.webp') no-repeat center center/cover; /* Imagen de fondo */
  filter: blur(8px); /* Aplica un desenfoque */
  z-index: -1; /* Envía el fondo detrás de otros elementos */
}

/* Estilos para el contenedor principal */
/* Contenedor principal */
.container {
  display: flex; /* Utiliza el modelo de caja flexible */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column; /* Dirección de apilamiento vertical */
  margin: 10px; /* Margen exterior */
}

.container-2 {
  min-height: 70vh; /* Importante */
  position: relative; /* Mantiene el footer abajo */
}

/* Contenedor del titulo */
.cont-title {
  display: flex; /* Utiliza el modelo de caja flexible */
  flex-direction: row; /* Dirección de los elementos en fila */
  justify-content: center; /* Centra horizontalmente */
  width: 100%; /* Ancho completo */
  margin-top: 10px; /* Margen superior */
}

/* Estilos para el título dentro del contenedor */
.container h1 {
  color: white; /* Color del texto */
  font-size: 50px; /* Tamaño de fuente */
}

/* Estilos para el contenedor de búsqueda */
.search-container {
  display: flex; /* Utiliza el modelo de caja flexible */
  align-items: center; /* Alinea los elementos verticalmente */
  width: 100%; /* Ancho completo */
  max-width: 700px; /* Ancho máximo */
  margin: 50px auto; /* Margen superior e inferior automático, margen izquierdo y derecho automático */
  border-radius: 25px; /* Radio de borde */
  overflow: hidden; /* Oculta el contenido que desborda */
  border: 1px solid #ccc; /* Borde sólido */
}

/* Estilos para el campo de entrada de texto dentro del contenedor de búsqueda */
.search-container input[type="text"] {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Relleno interno */
  border: 1px solid #ccc; /* Borde sólido */
  border-right: none; /* Sin borde derecho */
  border-radius: 4px 0 0 4px; /* Radio de borde para las esquinas */
  outline: none; /* No resalta al enfocar */
}

/* Estilos para el botón dentro del contenedor de búsqueda */
.search-container button {
  padding: 10px; /* Relleno interno */
  border: 1px solid #ccc; /* Borde sólido */
  border-left: none; /* Sin borde izquierdo */
  background-color: white; /* Color de fondo */
  color: white; /* Color del texto */
  border-radius: 0 4px 4px 0; /* Radio de borde para las esquinas */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilos al pasar el cursor sobre el botón dentro del contenedor de búsqueda */
.search-container button:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el cursor */
}

/* Estilos para los iconos */
i {
  color: white; /* Color del icono */
}

/* Estilos para el elemento con el ID searchType */
#searchType {
  background: white; /* Color de fondo */
}

/* Estilos para las tablas */
table {
  border-spacing: 0; /* Espaciado entre bordes de celda */
  border-radius: 20px; /* Radio de borde */
  width: 100%; /* Ancho completo */
  table-layout: fixed; /* Fijar el ancho de la tabla */
  word-wrap: break-word; /* Ajustar el texto a la anchura disponible */
}

/* Estilos para la cabecera de la tabla */
thead {
  background: #E8E8E8; /* Color de fondo */
  font-family: Arial, Helvetica, sans-serif; /* Fuente */
}

/* Estilos para las celdas de la cabecera de la tabla */
thead th {
  padding: 15px; /* Relleno interno */
  font-size: 15px; /* Tamaño de la fuente */
  background: #E8E8E8; /* Color de fondo */
}

/* Estilos para las filas del cuerpo de la tabla */
tbody tr {
  background: white; /* Color de fondo */
}

/* Estilos para las celdas del cuerpo de la tabla */
tbody td {
  padding: 10px; /* Relleno interno */
  border-left: 0.5px solid #777777; /* Borde izquierdo suave */
  border-right: 0.5px solid #777777; /* Borde derecho suave */
  border-top: 0.5px solid #777777; /* Borde superior suave */
  border-bottom: 0.5px solid #777777; /* Borde inferior suave */
  text-align: center; /* Alineación centrada del texto */
}

/* Estilos para la primera celda de la primera fila de la cabecera de la tabla */
#tabla thead th:first-child {
  border-top-left-radius: 20px; /* Radio de borde superior izquierdo */
}

/* Estilos para la última celda de la primera fila de la cabecera de la tabla */
#tabla thead th:last-child {
  border-top-right-radius: 20px; /* Radio de borde superior derecho */
}

/* Estilos para la primera celda de la última fila del cuerpo de la tabla */
#tabla tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px; /* Radio de borde inferior izquierdo */
}

/* Estilos para la última celda de la última fila del cuerpo de la tabla */
#tabla tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px; /* Radio de borde inferior derecho */
}

#content-wrapper {
  flex: 1; /* Permite que el contenedor se expanda y contraiga, ocupando el espacio disponible */
}

footer {
  /*background-color: #1E3248;*/ /* Comentado: color de fondo anterior */
  background-color: #3D3D3D; /* Nuevo color de fondo */
  color: rgb(248, 245, 245); /* Color del texto */
  text-align: center; /* Alineación centrada del texto */
  padding: 10px 0; /* Relleno vertical */
  width: 100%; /* Ancho completo */
  margin-top: auto; /* Empuja el footer al final del contenedor principal */
}

/* Estilos para la tabla responsiva */
@media (max-width: 600px) {
  .table-responsive-scroll {
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    -webkit-overflow-scrolling: touch; /* Suaviza el desplazamiento en dispositivos táctiles */
  }

  table {
    width: 100%; /* Ancho completo */
    display: block; /* Display en block para habilitar scroll horizontal */
  }

  thead, tbody, th, td, tr {
    display: table; /* Display table para mantener estructura de tabla */
  }

  thead {
    display: table-header-group; /* Asegura que el encabezado se mantenga en la parte superior */
  }

  tbody {
    display: table-row-group; /* Asegura que las filas del cuerpo se mantengan en su lugar */
  }

  tr {
    display: table-row; /* Display en fila de tabla */
  }

  th, td {
    display: table-cell; /* Display en celda de tabla */
  }
}

.navbar-nav .nav-item .nav-link {
  color: white !
}
h1{
  color: white;
}