body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #32396C, #3483dd, #74afeb, #474f8e, #32396C); /* Fondo degradado como respaldo */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/fachada1.webp') no-repeat center center/cover;
  filter: blur(8px);
  z-index: -1;
}

.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 90%;
  max-width: 500px;
  padding: 100px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 10px;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.welcome-container {
  width: 100%;
  max-width: 500px;
  padding: 80px 20px;
  background-color: rgba(45, 80, 92, 0.7);
  border-radius: 10px 150px 10px 150px;
  box-shadow: 0px 0px 20px rgba(45, 80, 92, 0.5);
  text-align: center;
  margin: 10px;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.login-container h2 {
  font-size: 45px;
  margin-bottom: 10px;
  color: #1E3740;
  font-family: 'Arial', sans-serif;
}

.welcome-container h1 {
  font-size: 0px;
  margin-bottom: 1px;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.welcome-container p {
  margin-bottom: 1px;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 0px;
}

.logo-img {
  max-width: 100%;
  height: auto;
  margin-top: -100px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 25px;
  padding: 15px;
  font-size: 16px;
}

.btn-primary {
  border-radius: 25px;
  padding: 10px;
  font-size: 18px;
  color: #F2F2F3;
  transition: background-color 0.3s ease;
  background-color: #1E3740;
  border: 2px solid #F2F2F3;
}

.btn-primary:hover {
  background-color: #2D505C;
  border-color: #4fa3fc;
}

.login-container {
  animation-name: fadeIn;
}

.welcome-container {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-container {
  width: 100%;
  padding: 20px;
  background-color: rgba(45, 80, 92, 0.9);
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 10px;
}

.footer-container p {
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
}

.footer-container h3 {
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }

  .welcome-container {
    order: -1;
  }

  .login-container,
  .welcome-container {
    width: 90%;
    padding: 20px;
    margin-bottom: 20px;
  }

  .logo-img {
    margin-top: 0;
  }
}
