/**
 * ARCHIVO: /C:/Users/campo/OneDrive/Escritorio/proyecto_visitantes/src/public/css/styleRegister.css
 *
 * Este archivo CSS contiene los estilos generales para el registro y las páginas internas de un sitio web.
 * Incluye estilos para encabezado, fondo, contenedor, formulario, título, entradas, botones y consultas de medios.
 *
 * Estilos:
 * - .
fondo: Estilos para la imagen de fondo.
 * - .container: Estilos para el contenedor principal.
 * - .container-form: Estilos para el contenedor del formulario.
 * - .cont-title: Estilos para el contenedor del título.
 * - .form-inputs: Estilos para los contenedores de entrada.
 * - .form-p: Estilos para los contenedores de entrada individuales.
 * - etiqueta: Estilos para las etiquetas.
 * - .forma-
inputs input: Estilos para los campos de entrada.
 * - form .button: Estilos para los botones.
 * - .form-inputs select: Estilos para los campos seleccionados.
 * - .buttons-container: Estilos para el contenedor de botones de agregar y quitar.
 * - .minus-button, .plus-button: Estilos para los botones de agregar y quitar.
 * - .niños-
input: Estilos para el campo de entrada para el número de hijos.
 * - .v-img: Estilos para las imágenes.
 * - @media (ancho máximo: 1150px): estilos para pantallas pequeñas.
 * - .nav-link: Estilos para los enlaces de navegación.
 */
/* Estilos generales del register y interns */
/* estilos del header */

.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/fachada1.webp') no-repeat center center/cover;
  filter: blur(8px);
  z-index: -1;
}

/* Contenedor de todo el cuerpo */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  min-height:80vh;/*importante*/
  position:relative;
}

/* Contenedor del formulario */
.container-form {
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 50px;
  padding: 25px;
  padding-bottom: 20px;
  border-radius: 50px;
  flex-direction: column;
  width: 800px; /* Ajuste de ancho */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Contenedor del titulo */
.cont-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.cont-title div {
  margin-right: 50px;
}

/* Titulo del formulario */
.container h1 {
  color: white;
  font-size: 50px; /* Ajuste de tamaño de fuente */
}

/* Contenedor de los inputs */
.form-inputs {
  display: flex;
  flex-direction: row;
  width: 100%; /* Ajuste de ancho */
  height: auto; /* Ajuste de altura */
}

.form-p {
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* Ajuste de margen */
  width: 100%; /* Ajuste de ancho */
}

/* Estilo de los label */
label {
  display: block;
  color: #000;
}

/* Estilo de los inputs */
.form-inputs input {
  display: block;
  margin-bottom: 15px; /* Ajuste de margen */
  padding: 10px; /* Añadir padding */
  border-radius: 5px;
  background: #D9D9D9;
  width: 100%; /* Ajuste de ancho */
}


/* Estilo de los botones */
form .button {
 
  border-radius: 50px;
  transition: background-color 0.3s ease;
  /*background-color: #1e3740;*/
  background-color: #3D3D3D;
  color: white;
  width: 200px;
  float: left;
  margin-left: 35%;
  margin-right: 35%;

}

form .button:hover {
  /*background-color: #4fa3fc;*/
  background-color: #3D3D3D;
  /*border: 1px solid #0078f8;*/
}

/* Estilo de los selects */
.form-inputs select {
  display: block;
  margin-bottom: 15px; /* Ajuste de margen */
  padding: 10px; /* Añadir padding */
  width: 100%; /* Ajuste de ancho */
}

/* Contenedor de los botones de agregar y quitar */
.buttons-container {
  display: flex;
  align-items: center;
}

/* Estilo de los botones de agregar y quitar */
.minus-button,
.plus-button {
  width: 35px;
  height: 30px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
}

/* Input de cantidad de hijos */
.children-input {
  width: 50px;
  height: 30px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 16px;
}

.v-img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 1150px) {
  .container-form {
    width: 90%; /* Ajustar el ancho del contenedor del formulario */
  }
  .form-inputs {
    flex-direction: column;
    width: 100%; /* Ajustar el ancho del contenedor de inputs */
    height: auto; /* Ajustar la altura */
  }
  .form-p {
    width: 100%; /* Ajustar el ancho de los contenedores individuales */
    margin-right: 0; /* Remover el margen derecho */
  }
  .form-inputs input,
  .form-inputs select {
    width: 100%; /* Ajustar el ancho de los inputs y selects */
  }
  form .button {
    margin-left: 30%;
    margin-right: 30%;
  }
}
