/* Definición de la animación fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0; /* Comienza con opacidad 0 (invisible) */
    transform: translateY(20px); /* Inicia desplazado 20px hacia abajo */
  }
  to {
    opacity: 1; /* Termina con opacidad 1 (visible) */
    transform: translateY(0); /* Termina sin desplazamiento vertical */
  }
}

/* Aplicación de la animación fadeIn */
.fade-in {
  animation: fadeIn 0.5s ease-in-out; /* Aplica la animación con duración de 0.5s y efecto ease-in-out */
}

/* Estilo del cuerpo de la página */
body {
  background-color: gray; /* Color de fondo gris */
  display: flex; /* Usa flexbox para el layout */
  flex-direction: column; /* Dirección de flexbox en columna */
  min-height: 100vh; /* Altura mínima de 100% de la vista */
  font-family: "Poppins", sans-serif; /* Fuente Poppins */
  font-weight: normal; /* Peso de fuente normal */
}

/* Fondo de la página */
.fondo {
  position: fixed; /* Fijo en la pantalla */
  top: 0; /* Desde el borde superior */
  left: 0; /* Desde el borde izquierdo */
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  background: url("/img/fachada1.webp") no-repeat center center/cover; /* Imagen de fondo centrada y cubierta */
  filter: blur(8px); /* Aplicar filtro de desenfoque */
  z-index: -1; /* Colocar detrás de otros elementos */
}

/* Contenedor principal */
.container {
  display: flex; /* Usa flexbox */
  justify-content: center; /* Centra contenido horizontalmente */
  align-items: center; /* Centra contenido verticalmente */
  flex-direction: column; /* Dirección de flexbox en columna */
  margin: 10px; /* Margen de 10px */
  margin-right: auto; /* Margen derecho automático */
  margin-left: auto; /* Margen izquierdo automático */
  width: 100%; /* Ancho completo */
}

/* Segundo contenedor */
.container-2 {
  display: flex; /* Usa flexbox */
  flex-wrap: wrap; /* Permite el wrap de elementos */
  justify-content: center; /* Centra contenido horizontalmente */
  min-height: 65vh; /* Altura mínima de 65% de la vista */
  position: relative; /* Posición relativa */
}

/* Contenedor del titulo */
.cont-title {
  display: flex; /* Usa flexbox */
  flex-direction: row; /* Dirección de flexbox en fila */
  justify-content: center; /* Centra contenido horizontalmente */
  width: 100%; /* Ancho completo */
  margin-top: 10px; /* Margen superior de 10px */
}

.cont-title div {
  margin-right: 50px; /* Margen derecho de 50px */
}

/* Titulo del formulario */
.container h1 {
  color: white; /* Color de texto blanco */
  font-size: 50px; /* Tamaño de fuente de 50px */
}

/* Contenedor de búsqueda */
.search-container {
  display: flex; /* Usa flexbox */
  align-items: center; /* Alinea contenido verticalmente al centro */
  width: 100%; /* Ancho completo */
  max-width: 700px; /* Ancho máximo de 700px */
  margin: 50px auto; /* Margen vertical de 50px y auto horizontal */
  border-radius: 25px; /* Bordes redondeados de 25px */
  overflow: hidden; /* Ocultar desbordamiento */
  border: 1px solid white; /* Borde de 1px color blanco */
}
/* Estilo del campo de texto en el contenedor de búsqueda */
.search-container input[type="text"] {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Relleno de 10px */
  border: 1px solid #ccc; /* Borde igual que el botón */
  border-right: none; /* Quita el borde derecho */
  border-radius: 4px 0 0 4px; /* Bordes redondeados en la izquierda */
  outline: none; /* Quita el contorno */
}

/* Estilo del botón en el contenedor de búsqueda */
.search-container button {
  padding: 10px; /* Relleno de 10px */
  border: 1px solid #ccc; /* Borde igual que el input */
  border-left: none; /* Quita el borde izquierdo */
  background-color: white; /* Fondo blanco */
  color: #000; /* Texto visible */
  border-radius: 0 4px 4px 0; /* Bordes redondeados en la derecha */
  cursor: pointer; /* Cambia el cursor a puntero */
}

/* Cambio de color del botón en hover */
.search-container button:hover {
  background-color: #f0f0f0; /* Fondo gris claro */
}

/* Estilo de los iconos */
i {
  color: #000; /* Color negro */
}

/* Estilo del select */
#searchType {
  background: white; /* Fondo blanco */
}

/* Estilo de las tablas */
table {
  border-spacing: 0; /* Sin separación entre celdas */
  border-radius: 20px; /* Bordes redondeados */
  width: 100%; /* Ancho completo */
  table-layout: fixed; /* Layout fijo */
  word-wrap: break-word; /* Ajuste de palabras */
}

/* Estilo del encabezado de la tabla */
thead {
  background: #e8e8e8; /* Fondo gris claro */
  font-family: Arial, Helvetica, sans-serif; /* Familia de fuente */
}

/* Estilo de las celdas del encabezado */
thead th {
  padding: 15px; /* Relleno de 15px */
  font-size: 15px; /* Tamaño de fuente */
  background: #e8e8e8; /* Fondo gris claro */
}

/* Estilo de las filas del cuerpo */
tbody tr {
  background: white; /* Fondo blanco */
}

/* Estilo de las celdas del cuerpo */
tbody td {
  padding: 10px; /* Relleno de 10px */
  border-left: 0.5px solid #777777; /* Borde izquierdo suave */
  border-right: 0.5px solid #777777; /* Borde derecho suave */
  border-top: 0.5px solid #777777; /* Borde superior suave */
  border-bottom: 0.5px solid #777777; /* Borde inferior suave */
  text-align: center; /* Texto centrado */
}

/* Estilo de las celdas de la primera columna del encabezado */
#tabla thead th:first-child {
  border-top-left-radius: 20px; /* Borde superior izquierdo redondeado */
}

/* Estilo de las celdas de la última columna del encabezado */
#tabla thead th:last-child {
  border-top-right-radius: 20px; /* Borde superior derecho redondeado */
}

/* Estilo de las celdas de la primera columna de la última fila */
#tabla tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px; /* Borde inferior izquierdo redondeado */
}

/* Estilo de las celdas de la última columna de la última fila */
#tabla tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px; /* Borde inferior derecho redondeado */
}

/* Contenedor de contenido */
#content-wrapper {
  flex: 1; /* Flex 1 para que ocupe el espacio disponible */
}

/* Estilo para tablet y móvil */
@media (max-width: 850px) {
  .table-responsive-scroll {
    overflow-x: auto; /* Scroll horizontal */
    white-space: nowrap; /* No permite wrap de texto */
  }

  table {
    table-layout: auto; /* Layout automático */
  }
}

/* Estilo para pantallas menores a 600px */
@media (max-width: 600px) {
  footer {
    background-color: #e8e8e8; /* Fondo gris claro */
    color: black; /* Texto negro */
    text-align: center; /* Texto centrado */
    padding: 10px 0; /* Relleno superior e inferior */
    width: 100%; /* Ancho completo */
    margin-top: auto; /* Margen superior automático */
  }

  /* Estilo para el placeholder del input de búsqueda */
  .search-container input[type="text"]::placeholder {
    color: black; /* Placeholder negro */
  }
}
