<!-- footer.ejs -->
<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="/img/logo_empresa.png" alt="Logo de la Empresa">
        </div>
        <div class="footer-info">
            <p>Desarrollado por <span>Tu Empresa</span></p>
            <p>&copy; 2024 Radio y Televisión Hidalgo. Todos los derechos reservados.</p>
            <p>Contacto: contacto@empresa.com</p>
            <p>Teléfono: +52 771 123 4567</p>
        </div>
    </div>
    <div class="footer-credits">
        <p>Desarrollado por <span>Tu Empresa</span> <img src="/img/logo_pequeno.png" alt="Logo pequeño"></p>
    </div>
</footer>
