<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Example</title>
    <link rel="stylesheet" href="/path/to/your/css/styles.css"> <!-- Asegúrate de que la ruta sea correcta -->
</head>
<body>
    <!-- footer.ejs -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="/img/logo_ryth (1).webp" alt="Logo de la Empresa">
            </div>
            <div class="footer-info">
                <p>&copy; 2024 Radio y Televisión Hidalgo. Todos los derechos reservados.</p>
            </div>
        </div>
        <div class="footer-credits">
            <p>Desarrollado por<img src="/img/logo_tic_nuevo.webp" alt="Hecho con amor"></p>
        </div>
    </footer>
    
</body>
</html>
