
<!-- una navegacion implementada de bootstrap-->
<nav id="var" class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <!--iamgen de la institicion logueada al inicio de la pagina-->
    <a href="/inicio" style="display: flex;">
      <img src="/img/rtyh_logo.webp" alt="Logo">
    </a class="enlaces">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!--  por el amor de dios dejen de eliminar estas limitaciones -->
            <% if (user && user.type !== 'administrador') { %>
            <a class="nav-link" href="/registroVisitas">Registros</a>
            <%if (user && user.type !== 'usuario') { %>
            <a class="nav-link" href="/registroInternos">Pasantes</a>
            <a class="nav-link" href="/hr-visits">Recursos Humanos</a>
            <a class="nav-link" href="/historialInternos">Historial de pasante</a>
            <% } %>
            <% } %>
            <% if (user && user.type !== 'rh') { %>
            <a class="nav-link" class="nav-link" href="/historial">Historial de visitantes</a>
            <a class="nav-link" href="/AdmistrarUsuario">Control de Usuarios</a>
            <%if (user && user.type !== 'usuario') { %>
            <a class="nav-link" href="/registroUsuario">Registrar Usuario</a>
            <%if (user && user.type !== 'administrador') { %>
            <a class="nav-link" href="/registrosPendientes">Pendientes de Salida</a>
            <a class="nav-link" href="/controlPasantes">Control de Pasantes</a>
            <% } %>
            <% } %>
            <% } %>
      </ul>
    </div>
    </div>
  </div>
</nav>