<nav id="var" class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="/img/rtyh_logo.webp" alt="Logo">
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          
          <div class="enlaces">
          <a href="/registroInternos">Pasantes</a>
          <% if (user && user.type !== 'rh') { %>
            <a class="nav-link" href="/registroVisitas">Registros</a>
            <a href="/historial">Historial de visitantes</a>
            <a href="/registrosPendientes">Pendientes de Salida</a>
            <a href="/registroUsuario">Registrar Usuario</a>
            <a href="/AdmistrarUsuario">Control de Usuarios</a>
            <a href="/hr-visits">Recursos Humanos</a>
            <a href="/historialInternos">Historial de pasante</a>
            <a href="/controlPasantes">Control de Pasantes</a>
          <% } %>
          </div>
          
      </div>
  </div>
</nav>

