<nav id="var">
  <div>
    <a href="/inicio" style="display: flex;">
      <img src="/img/rtyh_logo.webp" alt="Logo">
    </a>
  </div>
  <div class="enlaces">
    <% if (user && user.type !== 'administrador') { %>
    <a href="/registroVisitas">Registros</a>
    <%if (user && user.type !== 'usuario') { %>
    <a href="/registroInternos">Pasantes</a>
      <a href="/hr-visits">Recursos Humanos</a>
      <a href="/historialInternos">Historial de pasante</a>
    <% } %>
    <% } %>
      <% if (user && user.type !== 'rh') { %> 
      <a href="/historial">Historial de visitantes</a>
      <a href="/AdmistrarUsuario">Control de Usuarios</a>
      <%if (user && user.type !== 'usuario') { %>
        <a href="/registroUsuario">Registrar Usuario</a>
        <%if (user && user.type !== 'administrador') { %>
      <a href="/registrosPendientes">Pendientes de Salida</a>
      <a href="/controlPasantes">Control de Pasantes</a>
    <% } %>
    <% } %>
    <% } %>
  </div>
  <div class="menu-hamburguesa" id="menuHamburguesa">
    <div class="hamburguesa-icono"></div>
    <div class="hamburguesa-icono"></div>
    <div class="hamburguesa-icono"></div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('menuHamburguesa').addEventListener('click', function() {
      const enlaces = document.querySelector('.enlaces');
      enlaces.classList.toggle('active');
    });
  });
</script>

